.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	background-color: aliceblue;

	.mat-button {
		padding: 20px 36px;

		&.active {
			background-color: antiquewhite;
		}
	}

	.auth {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
	}
}
